$main-color: #2B7FC3;
$secondary-color: #F0F3FA;
$text-color: #8492a6;

  /* WHITE COLOR */
 $white_massive: #FFFFFF;
 $white_heavy: #F8F8FC;
 $white_fair: #EFEFF7;
 $white_soft: #E7E8F3;
 $white_root: #989EB8;

 $error: #BC040E;